* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

@font-face {
    font-family: 'NeoSans';
    src: url('fonts/NeoSans-Black.otf') format('opentype');
}

.main-container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: "Poppins";
    background-image: url(img/bg00.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    z-index: -3;
}
.main-container > * {
    flex-grow: 1;
}
h1 {
    font-family: "NeoSans";
    font-size: 24px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6fb406;
    height: 0px;
  
    padding: 30px;
    width: 100vw;
}
.navbar .menu-expand {
    color: white;
    display: none;
}
.logo {
    width: 50px;
    height: 50px;
    border: 1px solid;
    color: white;
}
.currency {
    width: 100px;
    height: 30px;
    border: 1px solid;
    background-color:white;
    box-shadow: 1px 1px 10px 1px #2d612b;
    color: #2d612b;
    border: none;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: 400ms;
}

.navbar .content {

    display: flex;
    background-color: #6fb406;
    color: white;
    width: 600px;
}

.navbar .content span {
    transition: 400ms;
    cursor: pointer;
}

.navbar .content span:hover {
    cursor: pointer;
    color: black;
}

.header {
    display: flex;
    
    background-color: white;
    gap: 20px;
    width: 100vw;
    height: auto;
    padding: 50px;

    box-shadow: 1px 50px 1px 1px white;
    
}

.header .text {
    width: 400px;
    margin-top: -20px;
}

.header .text .descricao {
    margin-top: 20px;
}

.header .sale {
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    min-width: 200px;
    width: 400px;
    height: 170px;
    min-height: 120px;
    margin-top: -20px;
}

/* @media (min-width: 768px) {
    .my-div {
        float: left;
    }
} */

.cuidados {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
    margin-top: -60px;
    max-width: 1000px;
    width: 100vw;
    height: auto;
    z-index: 1;
}
@media (max-width: 1000px) {
    
    .cuidados {
        margin-top: 0px;
        width: 450px;
        padding: 1px;
        gap:20px;
    }
    .navbar {
        padding: 30px;
    }
    .header {
        box-shadow: 1px 80px 1px 1px white;
        flex-wrap: wrap;
    }
    .header .sale {
        margin-top: 0;
        height: 120px;
    }
    .ofertas-iniciais {
        border: 1px solid red;
        width: 350px;
        padding: 1px;
        gap:20px;
    }
}

@media (max-width: 600px) {
    .cuidados {
        margin-top: 0px;
        width: 370px;
        padding: 1px;
        gap: 20px;
    }
    .cuidados .div {
        width: 170px;
        height: 170px;
        
        font-size: 12px;
        padding: 15px;
    }
    .navbar .content {
        display: none;
    }
    .navbar .menu-expand {
        display: block;
    }
    .header {
        box-shadow: 1px 80px 1px 1px white;
        flex-direction: column;
        margin-left: 50%;
        transform: translateX(-50%);
        
    }
    .header .text {
        width: 350px;
        
    }
    .header .sale {
        margin-top: 0;
        width: 350px;
        height: 120px;
    }
    .logo {
        margin-left: 80px;
    }

    .ofertas-iniciais {
        
        width: 370px;
        padding: 1px;
        gap: 20px;
    }
}

.cuidados div {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
    padding: 20px;
    background-color: #F1F1F1;
 
    width: 200px;
    height: 200px;
  
}

.cuidados .icons {
    font-size: 50px;
    padding-bottom: 15px;
    
}

.cuidados .bold-text {
    font-weight: 500;
    font-size: 16px;

}

.cuidados p {
    margin-top: 10px;
}

.botao {
    
    display: flex;
    align-items: center;
    padding: 10px;
    width: 250px;
    max-height: 50px;
    min-width: 50px;
    
    cursor: pointer;
    transition: 300ms;
    margin-bottom: 100px;
    background-color: #81cf0b;
    color: white;
    box-shadow: 1px 1px 10px 1px #81cf0b;
    
}

.botao:hover {

    background-color: #f1f1f1;
    color: black;
    box-shadow: 1px 1px 10px 1px white;
   
}

@media (max-width: 1000px) {
    .botao {
        margin-top: 50px;
    }
}

footer {
    background-color: #6fb406;
    width: 100vw;
    height: 100px;
    margin-bottom: 0;
    margin-top: 50px;

}

.ofertas-iniciais {

    visibility: hidden;
    border: 1px solid white;
    display: flex;
    justify-content: center;

    margin-top: -50px;
    max-width: 1000px;
    height: 50px;
    width: 100vw;
 
}