* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NeoSans';
    src: url('fonts/NeoSans-Black.otf') format('opentype');
}

body{
    font-family: "Poppins";
    background-image: url(img/bg02.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
h1 {
    font-family: "NeoSans";
    font-size: 24px;
}

.header {
    display: flex;
    
    background-color: white;
    width: 100vw;
    height: auto;
    padding: 50px;
    text-justify: left;
}
.header .text {
    width: 400px;
    text-justify: left;
    margin-left: 0;
}

.header .text .descricao {
    margin-top: 20px;
}

.sale {
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    min-width: 200px;
    width: 200px;
    height: 200px;
}

.faixa {
    background-color: white;
    width: 100vw;
    height: 80px;

}

/* @media (min-width: 768px) {
    .my-div {
        float: left;
    }
} */

.cuidados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
    margin-top: -120px;
    max-width: 1000px;
    width: 100vw;
    height: auto;
}
@media (max-width: 1000px) {
    .cuidados {
        width: 550px;
    }
}

.cuidados div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
    padding: 20px;
    background-color: #F1F1F1;
    min-width: 200px;
    width: 200px;
    height: 200px;
  
}

.cuidados .icons {
    font-size: 50px;
    padding-bottom: 15px;
    
}

.cuidados .bold-text {
    font-weight: 500;
    font-size: 16px;

}

.cuidados p {
    margin-top: 10px;
}

.botao {
    background-color: #f1f1f1;
    color: black;
    display: flex;
    padding: 10px;
    width: 250px;
    box-shadow: 1px 1px 10px 1px white;
    cursor: pointer;
    transition: 300ms;
}

.botao:hover {
    background-color: black;
    color: white;
    box-shadow: 1px 1px 10px 1px black;
}
